:root {
  --primary-color: #ff3a12;
  --primary-color-dark: #d92e0c;
  --secondary-color: #020617;
  --secondary-soft: #fff5eb;
  --accent-color: #ffd814;
  --accent-soft: #fff8cc;
  --border-color: #e2e8f0;
}
